{
	"trailingComma": "all",
	"useTabs": true,
	"importOrder": [
		"^firebase",
		"^@google-cloud",
		"^@?next",
		"<BUILTIN_MODULES>",
		"<THIRD_PARTY_MODULES>",
		"",
		"^[./]"
	],
	"importOrderTypeScriptVersion": "^4.9.0"
}
