{
	"highlightsEmailToFirebase": {
		"AWS_ACCESS_KEY_ID": "",
		"AWS_SECRET_ACCESS_KEY": "",
		"KEY_PREFIX": "inbox/",
		"S3_BUCKET": "",
		"SERVICE_ACCOUNT": "REPLACE ME! {\"type\":\"service_account\", ...}",
		"FIRESTORE_EMULATOR_HOST": "localhost:8080",
		"GCLOUD_PROJECT": "<Put the same ID as the project used in the Firebase emulator>"
	}
}
