rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /volume/covers/{fileName} {
      allow write: if request.auth.uid != null;
      allow read;
    }
  }
}
